$theme-white:#FFFFFF;
$theme-red:#93181C;
$theme-blue:#17375F;
$theme-lightblue:#BDD4E8;
$theme-text:#717171;

$desktop: 1920px;
$xlarge: 1539px;
$mlarge: 1399px;
$large: 1199px;
$medium: 991px;
$small: 767px;
$lsmall: 639px;
$xsmall: 479px;
$smobile: 359px;

$standardfont: 'Raleway', sans-serif;
$raleway: 'Raleway', sans-serif;
$josefin_sans: 'Josefin Sans', sans-serif;
$goodkarma_regular: 'Good Karma Regular', sans-serif;